<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />        
    </startup>
    <appSettings>
      <!--General Gluu configs-->
      <add key="GluuServerUrl" value="https://scim-test.gluu.org"/>
      <add key="OxdClientName" value="VasOxdTestingClient-CanBeRemoved"/>
      <add key="UserEmail" value="adengappaa@hotmail.com"/>
      
      <!--Register Site Command Configurations-->            
      <add key="AuthorizationRedirectUri" value="https://www.omsttech.com/wp-login.php?option=oxdOpenId"/>
    </appSettings>
</configuration>