<div class="jumbotron">
    <h1>C#.NET API</h1>
    <p class="lead">C#.Net Demo API for UMA Testing</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default" href="/UMA/Setting">Setting</a>
    </div>
</div>
