

@{
    ViewBag.Title = "Setup Client";
}


<script>

    jQuery(function () {


        $("input[name='conn_type_radio']").change(function () {
            if ($(this).val() == "local") {

                $("#conn_label").text("oxd port:");
                $("#conn_type").attr("placeholder", "8099");
            }
            else {
                $("#conn_label").text("oxd web address:");
                $("#conn_type").attr("placeholder", "ex:https://oxd.oxdweb.com:8080");
            }
        });



        $(document).ready(function (e) {

            $.getJSON("/Home/Loadoxdsettings", function (data) {
                
                var obj = $.parseJSON(data);
                jQuery("#clientName").val(obj.client_name);
                jQuery("#ophostId").val(obj.op_host);
                jQuery("#oxdId").val(obj.oxd_id);
                jQuery("#redirecturlid").val(obj.authorization_redirect_uri);
                
                jQuery("#logouturi").val(obj.post_logout_redirect_uri);
                jQuery("#clientid").val(obj.client_id);
                jQuery("#clientsecret").val(obj.client_secret);


                if (!obj.oxd_id) {
                    $("#btnRegister").prop('disabled', false);
                    $("#btnUpdate").prop('disabled', "disabled");
                    $("#btnEdit").prop('disabled', "disabled");
                    $("#clientArea").css("display", "none");
                    Enable(false);
                }
                else {
                    $("#btnRegister").prop('disabled', "disabled");
                    $("#btnUpdate").prop('disabled', "disabled");
                    $("#btnEdit").prop('disabled', false);
                    $("#clientArea").css("display", "block");
                    Enable('disabled');
                }

                var application_type_val = obj.connection_type;
                
                if (application_type_val == "web") {
                    jQuery("#conn_type").val(obj.http_rest_url);
                    $("#conn_label").text("oxd web address:");
                    $("#conn_type").attr("placeholder", "ex:https://oxd.oxdweb.com:8080");
                }
                else {
                    jQuery("#conn_type").val(obj.oxd_host_port);
                    $("#conn_label").text("oxd port:");
                    $("#conn_type").attr("placeholder", "8099");
                }

                if (application_type_val != '') {
                    $("input[name=conn_type_radio][value=" + application_type_val + "]").prop('checked', true);
                }
                

            });

        });



        jQuery('#btnRegister').click(function (event) {
            //event.preventDefault();
            
            var ophostId = jQuery("#ophostId");
            var redirectUrl = jQuery("#redirecturlid")
            var PostLogoutRedirectUrl = jQuery("#logouturi");
            var OxdPort = jQuery("#conn_type");
            var clientid = jQuery("#clientid");
            var clientsecret = jQuery("#clientsecret");
            var client_name = jQuery("#clientName");
            var connectiontype = jQuery("input[name=conn_type_radio]:checked");
            var httpresturl = "";
            
            if (connectiontype.val() == 'web')
            {
                httpresturl = jQuery("#conn_type").val();
            }
            
            jQuery.post("/Home/SetupClient",
                {
                    OpHost: ophostId.val(),
                    RedirectUrl: redirectUrl.val(),
                    ConnectionType: connectiontype.val(),
                    PostLogoutRedirectUrl: PostLogoutRedirectUrl.val(),
                    OxdPort: OxdPort.val(),
                    HttpRestUrl: httpresturl,
                    ClientName: client_name.val(),
                    ClientId: clientid.val(),
                    ClientSecret: clientsecret.val()
                },
                function (data) {
                    jQuery("#oxdId").val(data.oxdId);
                    jQuery("#clientid").val(data.clientId);
                    jQuery("#clientsecret").val(data.clientSecret);


                    Enable('disabled');
                    $("#btnRegister").prop('disabled', "disabled");
                    $("#btnUpdate").prop('disabled', "disabled");
                    $("#clientArea").css("display", "block");
                    $("#btnEdit").prop('disabled', false);
                }
            );
        });



        jQuery('#ophostId').change(function (event) {
            var ophostId = jQuery("#ophostId");
            jQuery.post("/Home/CheckRegistrationEndPoint", { ophostId: ophostId.val() }, function (data) {
                
                if (data == true) {
                    $("#clientArea").css("display", "none");
                }
                else {
                    $("#clientArea").css("display", "block");
                }
            });
        });



        jQuery('#btnUpdate').click(function (event) {
            //event.preventDefault();
            
            var ophostId = jQuery("#ophostId");
            var redirectUrl = jQuery("#redirecturlid")
            var PostLogoutRedirectUrl = jQuery("#logouturi");
            var OxdPort = jQuery("#conn_type");
            var client_id = jQuery("#clientid");
            var client_secret = jQuery("#clientsecret");
            var OxdId = jQuery("#oxdId");
            var client_name = jQuery("#clientName");
            var connectiontype = jQuery("input[name=conn_type_radio]:checked");
            var httpresturl = "";
            
            if (connectiontype.val() == 'web') {
                httpresturl = jQuery("#conn_type").val();
            }
            
            jQuery.post("/Home/Update",
                {
                    OpHost: ophostId.val(),
                    RedirectUrl: redirectUrl.val(),
                    ConnectionType: connectiontype.val(),
                    PostLogoutRedirectUrl: PostLogoutRedirectUrl.val(),
                    OxdPort: OxdPort.val(),
                    HttpRestUrl: httpresturl,
                    ClientName: client_name.val(),
                    ClientId: client_id.val(),
                    ClientSecret: client_secret.val(),
                    OxdId: OxdId.val()
                },
                function (data) {

                    alert(data.status);
                }
            );

            Enable('disabled');
            $("#btnRegister").prop('disabled', "disabled");
            $("#btnUpdate").prop('disabled', "disabled");
            $("#btnEdit").prop('disabled', false);
            $("#clientArea").css("display", "block");
        });



        jQuery('#btnEdit').click(function (event) {
            //event.preventDefault();

            Enable(false);
            $("#btnUpdate").prop('disabled', false);
            $("#btnEdit").prop('disabled', "disabled");
            

        });



        jQuery('#btnDelete').click(function (event) {
            // $("form")[0].reset();
            $("#clientArea").css("display", "none");
            $("form")[0].reset();
            Enable(false);
            $("#btnRegister").prop('disabled', false);
            $("#btnEdit").prop('disabled', "disabled");

            jQuery.post("/Home/Deleteoxdsettings",
                function (data) {
                }
            );
        });



        function Enable(enalbed) {
            $("#clientid").prop('disabled', enalbed);
            $("#clientsecret").prop('disabled', enalbed);
            $("#ophostId").prop('disabled', enalbed);
            $("#redirecturlid").prop('disabled', enalbed);
            $("#logouturi").prop('disabled', enalbed);
            $("#conn_type").prop('disabled', enalbed);
            $("#oxdId").prop('disabled', enalbed);
            $("#clientName").prop('disabled', enalbed);
        }

    });
</script>

<style>
    #bod_div {
    outline-color: #2eea21;
    outline-width: 1px;
    outline-style: solid;
    background-color: #effdff;
    padding: 10px;
    margin-left: -10px;
    margin-right: -13px;
    margin-top: 50px;
}
</style>


<div class="container body-content">

        <div id="bod_div" class="col-md-12">
                <form action="" method="post" class="form-horizontal">
                    <h3>Register</h3><br />
                    <div class="form-group">
                        <label class="control-label col-sm-3" style="text-align: left">URI of the OpenID Connect Provider:</label>
                        <div class="col-sm-8">
                            <input type="url" class="form-control col-sm-8" id="ophostId" placeholder="ex: https://gluu.idphost.com" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" style="text-align: left">Authorization Redirect URI:</label>
                        <div class="col-sm-8">
                            <input type="url" class="form-control col-sm-8" id="redirecturlid" placeholder="ex: https://client.example.com" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" style="text-align: left">Post logout URI:</label>
                        <div class="col-sm-8">
                            <input type="url" class="form-control col-sm-8" id="logouturi" placeholder="ex: https://client.example.com/logout" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3" style="text-align: left">oxd Connection Type:</label>
                        <div id="RadioDiv" class="ip_box col-sm-8">
                            <label class="radio-inline"> <input type="radio" name="conn_type_radio" id="conn_type_radio" value="local" checked="checked"> Local</label>
                            <label class="radio-inline"> <input type="radio" name="conn_type_radio" id="conn_type_radio" value="web"> web</label>
                        </div>
                        <div id="conn">
                            <label class="control-label col-sm-3" id="conn_label" style="text-align: left"></label>
                            <div class="col-sm-8" id="conn_ip">
                                <input type="text" class="form-control col-sm-8" id="conn_type" style=" -moz-box-shadow inset 0 0 20px #000000; " required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="control-label col-sm-3" id="clnt3" style="text-align: left">Client Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control col-sm-8" id="clientName" name="clientName" style="margin-bottom:20px;" placeholder="Client Id from OpenID Connect Provider" required>

                        </div>
                    </div>

                    <div id="clientArea" style="display:none;">
                        <div class="row">
                            <label class="control-label col-sm-3" id="clientIdLabel" style="text-align: left">Client Id:</label>
                            <div class="col-sm-8" id="set_id_secret values">
                                <input type="text" class="form-control col-sm-8" id="clientid" name="clientid" style="margin-bottom:20px;" placeholder="Client Id from OpenID Connect Provider" required>

                            </div>
                            <label class="control-label col-sm-3" id="clientSecretLabel" style="text-align: left;margin-bottom:20px;">Client Secret:</label>
                            <div class="col-sm-8" id="set_id_secret values">
                                <input type="text" class="form-control col-sm-8" id="clientsecret" name="clientsecret" style="margin-bottom:20px;" placeholder="Client Secret from OpenID Connect Provider" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        &nbsp;
                        <button type="button" class="btn btn-success" value="Register" id="btnRegister" style="text-align: left;">Register</button>
                        <button type="button" class="btn  btn-primary" value="Update" id="btnUpdate" style="text-align: left">Update</button>
                        <button type="button" class="btn  btn-primary" value="Edit" id="btnEdit" style="text-align: left">Edit</button>
                        <button type="button" class="btn  btn-danger" value="Delete" id="btnDelete" style="text-align: left">Delete</button>
                        <a href="~/Home/Index" class="btn btn-default">Login Page</a>

                    </div>

                    <div class="form-group">

                        <label class="control-label col-sm-3" style="text-align: left">oxd id:</label>
                        <input type="text" class="form-control col-sm-8" id="oxdId" name="oxdId" style="margin-bottom:20px;background-color:transparent;border-color:transparent;" required>


                    </div>


                </form>

        </div>

</div>
