
@{
    ViewBag.Title = "UMA";
}

<script>
    $(document).ready(function () {
        
        jQuery('#btnProtect').click(function (event) {
            jQuery.post("/Home/ProtectResources",
                {  },
                function (data) {
                    jQuery("#divResult").html("UMA RS Protect: <br/>" + data.Response);
                }
            );
        });

        jQuery('#btnCheckAccess').click(function (event) {
            jQuery.post("/Home/CheckAccess",
                {  },
                function (data) {
                    jQuery("#divResult").html("UMA RS Check Access: <br/>" + data.Response);
                }
            );
        });

        jQuery('#btnGetRpt').click(function (event) {
            jQuery.post("/Home/ObtainRpt",
                { },
                function (data) {
                    jQuery("#divResult").html("UMA RP Get RPT: <br/>" + data.Response);
                }
            );
        });

        jQuery('#btnGetClaimsGatheringUrl').click(function (event) {
            jQuery.post("/Home/GetClaimsGatheringUrl",
                { },
                function (data) {
                    jQuery("#divResult").html("UMA RP Get Claims Gathering URL: <br/>" + data.Response);
                    window.location.href = data.Response;
                }
            );
        });


        jQuery('#btnGetResource').click(function (event) {
            jQuery.post("/Home/GetResource",
                {},
                function (data) {
                    jQuery("#divResult").html("Resource: <br/>" + data.Response);
                    if (data.action == "redirect") {
                        window.location.href = data.Response;
                    }
                }
            );
        });

    });
</script>

<div class="container">
<h1>oxd C# Application - UMA</h1>
    
    <div class="row">
        <div class="col-md-4">
            <input type="button" id="btnGetResource" name="btnGetResource" class="btn btn-success" value="Get Resource" />
        </div>
    </div>

    <div id="divResult"></div>
</div>
